<mat-sidenav-container>
    
      <div style="height: 80vh;">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    
      <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()" style="position:absolute; top:10px; right:10px;">
        <mat-icon>menu</mat-icon>
      </button>
    
      <mat-sidenav #sidenav mode="over" opened="false">
    
        <button *ngFor="let el of labelkeys" mat-menu-item (click)="currentPlotKey=el;currentPlotValue=this.labels.get(el);plot.barplot(currentPlotKey);sidenav.toggle();">
          {{el}}
        </button>
    
      </mat-sidenav>
    
    </mat-sidenav-container>
    
    <mat-card>
    
    <div *ngIf="auth.user() === null" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button (click)="auth.login()">
        Login
      </button>
    </div>
    <div *ngIf="auth.user() !== null" fxLayout="row" fxLayoutAlign="space-between center">
      <div> Eingeloggt als
        <b>{{auth.username()}}</b>
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="goEdit()">
          Edit
        </button>
      </div>
      <div>
        <button mat-raised-button (click)="auth.logout()">
          Logout
        </button>
      </div>
    </div>
    
    </mat-card>
