<mat-sidenav-container>

  <div style="height: 80vh;">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  
  <mat-sidenav #sidenav mode="over" opened="false" [(opened)]="sideNavOpened">
    <button mat-menu-item (click)="goEdit()">Spieltage</button>
    <button *ngFor="let el of labelkeys" mat-menu-item (click)="currentPlotKey=el;currentPlotValue=this.labels.get(el);plot.barplot(currentPlotKey);sidenav.toggle();">
      {{el}}
    </button>    
  </mat-sidenav>

</mat-sidenav-container>