<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar>

<span>gutblatt.de</span>


<span class="example-spacer"></span>


<button mat-raised-button [matMenuTriggerFor]="menu2" color="primary">
  {{currentPlotKey}}
</button>

<mat-menu #menu2="matMenu">
  <button *ngFor="let el of labelkeys" mat-menu-item (click)="currentPlotKey=el;currentPlotValue=this.labels.get(el);plot(currentPlotKey);">
    {{el}}
  </button>
</mat-menu>

<span style="width:10px"></span>

<button mat-raised-button [matMenuTriggerFor]="menu" color="accent">
  {{generateItemString(selectedSeason)}}
</button>

<mat-menu #menu="matMenu">
  <button *ngFor="let el of seasons" mat-menu-item (click)="selectedSeason=el;">
    {{generateItemString(el)}}
  </button>
</mat-menu>


</mat-toolbar>

<div style="height: 80vh;">
<canvas id="myChart" width="400" height="400"></canvas>
</div>