<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">

  <span>gutblatt.de</span>


  <span class="example-spacer"></span>

  <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
    {{generateItemString(dataService.selectedSeason)}}
  </button>

  <mat-menu #menu="matMenu">
    <mat-grid-list cols="5" gutterSize="3px">
      <mat-grid-tile *ngFor="let el of seasons" style="background: light-blue" (click)="selectedSeason=el;">
        <div style="cursor: pointer;font-weight: bold;font-family:Arial, Helvetica, sans-serif;">{{el}}</div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>


</mat-toolbar>

<router-outlet></router-outlet>

