mat-toolbar > button {
    margin-left: 10px;    
    font-weight: bold;
    font-size: larger;
}

.second-toolbar {
    height: 70px;
}

.dialogselected {
    background: darkcyan !important;
}

.firstPlace {
    font-weight: bold;
    font-size: xx-large;
}

.firstPlaceName {
    font-weight: bold;
    font-size: x-large;
}

.firstPlacePoints {
    font-weight: bold;    
    font-size: x-large;
}

.first {
    background: #7cff2a;
}