<mat-toolbar *ngIf="auth.user() !== null" class="second-toolbar">
  <button mat-fab color="primary" (click)="openAdd()"><mat-icon>add</mat-icon></button>
  <span class="example-spacer"></span>
  <button mat-mini-fab [matMenuTriggerFor]="menu" (click)="menuhelper=0;">{{roundPlayers[0]}}</button>
  <button mat-mini-fab [matMenuTriggerFor]="menu" (click)="menuhelper=1;">{{roundPlayers[1]}}</button>
  <button mat-mini-fab [matMenuTriggerFor]="menu" (click)="menuhelper=2;">{{roundPlayers[2]}}</button>
  <button mat-mini-fab *ngIf="filteredRoundPlayers().length > 2" [matMenuTriggerFor]="menu" (click)="menuhelper=3;">{{roundPlayers[3]}}</button>
  <button mat-mini-fab *ngIf="filteredRoundPlayers().length > 3" [matMenuTriggerFor]="menu" (click)="menuhelper=4;">{{roundPlayers[4]}}</button>
  <span class="example-spacer"></span>
  <button mat-mini-fab color="primary" (click)="toggleSort()"><mat-icon>sort</mat-icon></button>

  <mat-menu #menu="matMenu">
      <mat-grid-list cols="5" gutterSize="3px">
        <mat-grid-tile *ngFor="let el of players" style="background: light-blue" (click)="selectPlayer(el);">
          <div style="cursor: pointer;font-weight: bold;font-family:Arial, Helvetica, sans-serif;">{{el}}</div>
        </mat-grid-tile>
      </mat-grid-list>
  </mat-menu>

</mat-toolbar>

<mat-card>  
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">

      <!-- Declarer Column -->
      <ng-container matColumnDef="declarer">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element" class="fixedColWidth">
          {{element.spieler}}
        </mat-cell>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element" class="fixedColWidth">
          {{element.punkte}}
        </mat-cell>
      </ng-container>

      <!-- Nr Column -->
      <ng-container matColumnDef="nr">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span style="font-size:smaller;">{{element.nr}}</span>
        </mat-cell>
      </ng-container>

      <!-- Ply 1 -->
      <ng-container matColumnDef="ply1">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'boldNames': boldNames(element)}"> {{element.ply1}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Ply 2 -->
      <ng-container matColumnDef="ply2">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'boldNames': boldNames(element)}"> {{element.ply2}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Ply 3 -->
      <ng-container matColumnDef="ply3">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'boldNames': boldNames(element)}"> {{element.ply3}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Ply 4 -->
      <ng-container matColumnDef="ply4">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'boldNames': boldNames(element)}"> {{element.ply4}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Ply 5 -->
      <ng-container matColumnDef="ply5">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'boldNames': boldNames(element)}"> {{element.ply5}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Interaktion -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element"> EDIT </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="rowStyle" (click)="selectRow(row)" [ngClass]="{'rowMargin': rowMargin(row), 'marginNames': boldNames(row) }">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
<div *ngIf="auth.user() !== null" style="margin-top: 100px;">
<button mat-raised-button color="warn" (click)="removeLastGame()">Remove last game</button>
</div>

