.rowMargin {
    background: #d8d8d8;
}

.rowStyle {
    margin: 0;
    min-height: 38px;
}

.boldNames {
    font-weight: bold;
}

.marginNames {
    margin-top: 20px;
}

.fixedColWidth {
    max-width: 50px;
}

mat-header-row {
    display:none;
}

mat-toolbar > button {
    margin-left: 10px;    
    font-weight: bold;
    font-size: larger;
}

.second-toolbar {
    height: 70px;
}

.dialogselected {
    background: darkcyan !important;
}